<section class="hero">
  <h1>BIBLIOTECA ACADÊMICA</h1>
  <p>O conhecimento ao alcance de todos</p>
  <div class="search-bar">
    <input type="text" placeholder="Pesquisar" [(ngModel)]="filtro" />
    <button (click)="pesquisar()">PESQUISAR</button>
  </div>
</section>

<app-modal-livros #modalLivros> </app-modal-livros>

<section class="content">
  <h2>TOP 3 DO MÊS</h2>
  <p>Mais procurados pela universidade!</p>

  <div class="book-list">
    @for (livro of livros; track livro.id) {
    <div class="book-card" (click)="infoLivro(livro.id!)">
      @if (livro.imagem) {
      <img [src]="livro.imagem" alt="Física - Sampaio & Calçada" />
      }
      <h3>{{ livro.titulo }}</h3>
      <p>{{ livro.autor }} - {{ livro.editora }}</p>
    </div>
    }
  </div>
</section>
