<section class="hero-emprestimos">
  <h1 class="page-title">MEUS EMPRÉSTIMOS</h1>
</section>

<section class="loan-container">
  @for (livro of emprestimos; track livro.id) {
  <div class="loan-card">
    <div class="loan-info">
      @if (livro.imagem) {
      <img src="fisica.jpg" alt="Física I" />
      }
      <h3>{{ livro.autor }}</h3>
      <p>{{ livro.descricao }}</p>
    </div>
    @if (livro.status == 1) {
    <div class="status-reserved">RESERVADO</div>

    } @else if (livro.status == 2) {
    <div class="status-section status-loan">
      <h4>DATA LIMITE:</h4>
      <div class="date">{{ livro.data_devolucao | date : 'dd/MM/yyyy HH:mm' }}</div>
      <div class="period-label">EM PERÍODO</div>
      <button class="btn-renovar">RENOVAR</button>
    </div>
    } @else if (livro.status == 3) {
    <div class="status-section status-loan">
      <h4>DATA LIMITE PARA ENTREGA:</h4>
      <div class="date">{{ livro.data_devolucao | date : 'dd/MM/yyyy HH:mm' }}</div>
      <div class="period-label" style="color: #dc3545; font-weight: bold">
        Sujeito a penalidades
      </div>
    </div>
    <div class="status-late">ATRASADO</div>
    } @else if (livro.status == 0) {
    <div class="date">{{ livro.data_devolucao | date : 'dd/MM/yyyy HH:mm' }}</div>
    <div class="status-devolvido">DEVOLVIDO</div>

    }
  </div>

  }
</section>
